@import '../../theme/swatches';

.hexmap {
  height: 530px;
  width: 932px;
  overflow: hidden;
  margin: 20px;
  position: relative;
  background: $swatch01;

  &::after {
    content: '';
    height: 530px;
    width: 932px;
    box-shadow: inset 0 0 15px 0 $swatch01;
    position: absolute;
    top: 0;
    pointer-events: none;
  }

  canvas {
    position: relative;
    left: -20px;
    top: -20px;
  }
}
